* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(img/background_main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content{
    flex: 1 0 auto;
}

.form {
    margin-left: 100px;
}

.error{
    font-size: x-large;
    color: red;
}

.header {
    display: flex;

}

.menu {
    margin-left: 20px;
    margin-top: 20px;
}

.menu_title, .menu_link {
    font-size: medium;
    color: white;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.motto {
    font-size: x-large;
    font-style: italic;
    color: pink;
}

.motto:hover::after {
    content: ' :))';
}

.menu, h1, .motto, .h4, .text, .footer, label {
    font-family: cursive;
}

h1 {
    text-align: center;
    font-size: 5vw;
    color: rgb(180, 248, 78);
    margin-top: 0;
}

.h4, .text, label {
    color: white;
    text-shadow: 2px 2px 3px blue, 0 0 1em blue;
    font-size: 2vw;
    margin-left: 20px;
}

.text {
    width: 50%;
}

.email {
    text-align: center;
    font-size: 5vw;
    color: rgb(0, 153, 255);
    text-shadow: 2px 2px 3px chartreuse, 0 0 1em chartreuse;
}

.footer {
    flex: 0 0 auto;
    padding: 20px;
    color: white;
    font-size: medium;
}